.galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.galeria a {
	margin: 10px;
}

.galeria img {
	width: 250px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	transition: transform 0.3s ease-in-out;
}

.galeria img:hover {
	transform: scale(1.1);
}
